deployChaincodes/

chaincode-javascript/node_modules/

# Ignorer tous les fichiers et dossiers
fabric-samples/*

# Ne pas ignorer le dossier bin dans fabric-samples
!fabric-samples/bin/

# Ne pas ignorer le contenu du dossier bin
!fabric-samples/bin/**

bceao-blockchain-app-corisbank/node_modules

npm-shrinkwrap.json

bceao-blockchain-app/backend/node_modules/

bceao-blockchain-app/backend/package-lock.json

bceao-blockchain-app/crypto-material/
bceao-blockchain-app-corisbank/crypto-material/
bceao-blockchain-app-corisbank/package-lock.json
bceao-blockchain-app-corisbank/frontend/node_modules
bceao-blockchain-app-corisbank/backend/node_modules
bceao-blockchain-app/frontend/node_modules

bceao-blockchain-app/frontend/package-lock.json

bceao-blockchain-app/node_modules

bceao-blockchain-app/package-lock.json

app-folder.sh

create-project.sh

explorer/crypto-material

network/channel-artifacts

network/crypto-material

network/system-genesis-block

network/bceaochaincode.tar.gz